@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

:root {
  --font-text: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-highlight: "Libre Baskerville", serif;
}

body {
  font-family: var(--font-text);
  background-color: rgba(250, 250, 250);
}
/* banner */

.banner {
  width: 100vw;
  height: 50vh;
  padding-block: 1rem;
  background-image: url("assets/bridge.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.banner::before {
  content: "";
  position: absolute;

  background-image: linear-gradient(
    to right,
    rgba(250, 250, 250, 1),
    rgba(250, 250, 250, 0.8) 50%,
    transparent
  );

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.content {
  width: 800px;
  margin-inline: auto;
  position: relative;
}

/* nav list */
.nav-list {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-list li:first-child {
  margin-right: auto;
}

.logo {
  font-family: var(--font-highlight);
  font-size: 1.5rem;
  font-weight: bold;
}

a.actived {
  font-weight: bold;
}

.primary-button {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
}

/* hero */

.hero {
  margin-block: 4rem;
}

.left {
  width: 50%;
}

.hero h1 {
  font-family: var(--font-highlight);
  font-size: 2.8rem;
}

.hero p {
  color: #999;
  margin-block: 2rem;
}

.features {
  display: flex;
  gap: 0.2rem;
}

.feature {
  flex: 1;
}

.number {
  font-size: 2rem;
  font-weight: bold;
}

.highlight {
  color: cornflowerblue;
}

.desc {
  font-size: 0.8rem;
  color: #999;
}

/* search */
ul.tabs {
  display: flex;
}

ul.tabs li {
  padding: 1rem 2rem;
  background-color: black;
  color: white;
  font-weight: bold;
  font-family: var(--font-highlight);
}

ul.tabs li:first-child {
  border-radius: 1rem 0 0 0;
}

ul.tabs li:last-child {
  border-radius: 0 1rem 0 0;
}

ul.tabs li.actived {
  background-color: white;
  color: black;
}

.search-conditions {
  padding: 2rem;
  background-color: white;
  border-radius: 0 1rem 1rem 1rem;
}

.search-conditions ul {
  display: flex;
  gap: 3rem;
}

.search-conditions ul li {
  flex: 1;
  position: relative;
}

.search-conditions ul li:not(:first-child)::before {
  content: "";
  position: absolute;
  border: 2px solid skyblue;
  height: 100%;
  left: -1.5rem;
  border-radius: 2px;
}

.condition {
  display: flex;
  font-size: 0.8rem;
}

.input {
  margin-left: 0.2rem;
}

.type {
  color: #999;
  margin-bottom: 0.4rem;
}

.value {
  font-weight: bold;
}

button.primary-button {
  appearance: none;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  padding: 1rem 2rem;
}
